body {
  font-family: Arial, sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #202124;
}

.game-container {
  display: grid;
  grid-template-columns: repeat(7, 70px);
  grid-template-rows: repeat(7, 70px);
  gap: 2px;
}

.game-container div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  background-color: blanchedalmond;
  border: 1px solid #ccc;
}
img.bomb-image,
img.player-image {
  mix-blend-mode: hard-light;
}
img.player-image {
  display: flex;
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

img.bomb-image {
  display: none;
  width: 50px;
  height: 50px;
}

img.bomb-image.blinking,
img.player-image.blinking {
  display: inline-block;
  width: 350px;
  height: 350px;
  animation: grow 2s infinite, blink 2s infinite;
}

.player-image {
  background-color: cadetblue;
}

img.game-image-lose {
  height: 400px;
}

.game-image-lose,
.game-image-win {
  display: block;
  margin: auto;
  grid-column: span 7;
  text-align: center;
}

h2 {
  font-size: 2rem;
  font-family: "Press Start 2P";
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 4px; /* Add some letter spacing for a more spread-out look */
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes grow {
  0% {
    width: 60px;
    height: 60px;
  }
  50% {
    width: 300px;
    height: 300px;
  }
  100% {
    width: 60px;
    height: 60px;
  }
}

p {
  font-family: "Press Start 2P";
  font-size: 0.7rem;
  text-align: center;
  color: #ffffff;
  margin: 8px 5px;
  padding: 4px;
}

p.instructions-para {
  animation: blink 2.7s infinite;
  transition: all 3s;
}

.game-container div.visited {
  background-color: #838383;
  pointer-events: none;
}

footer {
  padding: 10px;
}
